<section class="product__container">
  <div class="product__container_title">
      <h2>Разделы</h2>
      <button class="add-new-type-btn">Добавить новый тип</button>
  </div>
  <!-- <nav class="product__container_nav"></nav> -->
  <section class="product__container_nav"></section>
  <div class="edit_btn_container">
    <div class="edit_btn_container_inner">
      <button class="edit-btn btn">Редактировать</button>
      <button class="sections-delete-btn btn">Удалить раздел</button>
    </div>
  </div>
</section>