<section class="section__container_outer">
  <div class="sections-name">
    <h2 id="sections-name">Разделы</h2>
    <span id="editing-tooltip">Режим редактирования</span>
  </div>

  <!-- Генерация -->
  <section class="sections">
  </section>

  <div class="editing-buttons__container_wrapper">
    <div class="editing-buttons__container">
      <button class="edit-btn">Редактировать</button>
      <button class="activate-delete-mode-btn">Удалить разделы</button>
      <button class="add-new-type-btn">Добавить новый тип</button>
    </div>
  </div>
</section>