<!-- <section class="product__container">
  <div class="product__container_title">
      <h2>Разделы</h2>
      <button class="add-new-type-btn">Добавить новый тип</button>
  </div>
  <!-- <nav class="product__container_nav"></nav>
  <section class="product__container_nav"></section>
  <div class="edit_btn_container">
    <div class="edit_btn_container_inner">
      <button class="edit-btn btn">Редактировать</button>
      <button class="sections-delete-btn btn">Удалить раздел</button>
    </div>
  </div>
</section> -->

<!-- <section class="section__container_outer">
  <section class="sections"></section>
  <div class="section__container_outer-btns__container">
    <div class="section__container_outer-btns__container_vertical">
      <button class="edit-btn">Редактировать</button>
      <button class="activate-delete-mode-btn" !data-activated>Удалить разделы</button>
      <button class="add-new-type-btn">Добавить новый тип</button>
    </div>
  </div>
</section> -->

<section class="section__container_outer">
  <h2>Разделы</h2>

  <!-- Генерация -->
  <section class="sections">
    <span id="editing-tooltip">Режим редактирования</span>
  </section>

  <div class="editing-buttons__container_wrapper">
    <div class="editing-buttons__container">
      <button class="edit-btn">Редактировать</button>
      <button class="activate-delete-mode-btn">Удалить разделы</button>
      <button class="add-new-type-btn">Добавить новый тип</button>
    </div>
  </div>
</section>