{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form name="testForm" method="DELETE">
    {% csrf_token %}

    <input type="text" placeholder="Сюда вводи">
    <button type="submit">Удалить</button>

  </form>

  <div class="sections__container"></div>

<script src="{% static 'user_admin/js/testForm.js' %}"></script>
</body>
</html>