{% extends 'user_admin/base.html' %}
{% load static %}

{% block title %}EasyCompare Admin{% endblock %}

{% block logo %}EasyCompare Admin{% endblock %}

{% block nav_buttons %}
    <li class="nav__button_container">
        <button class="nav__button profile_page_btn">
            <img src="{% static 'user_admin/img/profile_menuBtn.svg' %}" alt="">
        </button>
    </li>
    <li class="nav__button_container">
        <button class="nav__button burger_menu_btn">
            <img src="{% static 'user_admin/img/burger_menuBtn.svg' %}" alt="">
        </button>
    </li>
{% endblock %}

{% block content %}
  {% include 'user_admin/sections.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'user_admin/js/Request.js' %}"></script>
    <script src="{% static 'user_admin/js/Request.js' %}"></script>
    <script src="{% static 'user_admin/js/Filter.js' %}"></script>
    <script src="{% static 'user_admin/js/Popup.js' %}"></script>
    <script src="{% static 'user_admin/js/Section.js' %}"></script>
    <script src="{% static 'user_admin/js/ProductType.js' %}"></script>
    <script src="{% static 'user_admin/js/Generator.js' %}"></script>
    <script src="{% static 'user_admin/js/sectionsPage.js' %}"></script>
{% endblock %}
