{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | EasyCompare</title>

    {% block optional_links %}{% endblock %}

    <link rel="stylesheet" href="{% static 'user_side/css/baseStyles.css' %}">
    <link rel="stylesheet" href="{% static 'user_side/css/navBar.css' %}">

</head>
<body>

<header>
    <nav>
        <div class="nav-logo">Easy Compare</div>
        <div class="nav-btns">
            <a href="#" class=""><img src="{% static 'user_side/img/profile_menuBtn.svg' %}" alt=""></a>
            <input type="checkbox" id="form-btn" style="display: none">
            <label for="form-btn"><span></span></label>
        </div>
    </nav>
    <section class="search-panel" style="display: none">
        <div class="uls">
            <ul id="section-list"></ul>
            <ul id="product-type-list"></ul>
        </div>
{#        <button class="submit" type="button">Подтвердить</button>#}
    </section>
</header>

<main class="main">
    {% block content %}{% endblock %}

</main>


<script src="{% static 'user_side/js/block.js' %}"></script>
<script src="{% static 'user_side/js/navBar.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>