{% extends 'user_side/base.html' %}
{% load static %}
{% block navbar_title %}EasyCompare{% endblock %}
{% block navbar_buttons %}
    <a href="#" class=""><img src="{% static 'user_side/img/profile_menuBtn.svg' %}" alt=""></a>
    <input type="checkbox" id="form-btn" style="display: none">
    <label for="form-btn"><span></span></label>
{% endblock %}
{% block optional_links %}
    <link rel="stylesheet" href="{% static 'user_side/css/filter.css' %}">
    <script src="{% static 'user_side/js/rangeControl.js' %}"></script>
    <link rel="stylesheet" href="{% static 'user_side/libs/noUiSlider-15.5.1/dista/nouislider.css' %}">
    <script type="module" src="{% static 'user_side/libs/noUiSlider-15.5.1/dista/nouislider.js' %}"></script>
{% endblock %}

{% block content %}
<aside>
    <div class="filet-title__button" style="display: flex; justify-content: space-between">
    <h3>Фильтры</h3>
    <button type="button" class="selected-filters">Выбранные фильтры</button>
    </div>
    <div class="parameter">
        <h4 style="margin-bottom: 1rem;">Parameter title</h4>
        <div class="value">
            <h5>Value</h5>
            <h5>Count</h5>
        </div>
        <button type="button" style="margin: 1rem auto 0 auto;">Показать ещё</button>
    </div>
    <div class="parameter">
        <h4 style="margin-bottom: 1rem;">Parameter title</h4>
        <div id="slider-round"></div>
        <label for="price">
            <input type="number" name="min-price" placeholder="min-price" id="min">
            <input type="number" name="max-price" placeholder="max-price" id="max">
        </label>
    </div>
</aside>
{% endblock %}