{% extends 'user_side/base.html' %}
{% load static %}
{% block navbar_title %}EasyCompare{% endblock %}
{% block navbar_buttons %}
    <a href="#" class=""><img src="{% static 'user_side/img/profile_menuBtn.svg' %}" alt=""></a>
    <input type="checkbox" id="form-btn" style="display: none">
    <label for="form-btn"><span></span></label>
{% endblock %}
{% block optional_links %}
    <link rel="stylesheet" href="{% static 'user_side/css/filter.css' %}">
{% endblock %}

{% block content %}
<aside>
    <div class="filet-title__button" style="display: flex; justify-content: space-between">
    <h3>Фильтры</h3>
    <button type="button" class="selected-filters">Выбранные фильтры</button>
    </div>
    <div class="parameter">
        <h4 style="margin-bottom: 1rem;">Parameter title</h4>
        <div class="value">
            <h5>Value</h5>
            <h5>Count</h5>
        </div>

        {# TODO delete next #}
        <div class="value">
            <h5>Value</h5>
            <h5>Count</h5>
        </div>
        <div class="value">
            <h5>Value</h5>
            <h5>Count</h5>
        </div>
        <div class="value">
            <h5>Value</h5>
            <h5>Count</h5>
        </div>
        {# end #}
        <button type="button" style="margin-top: 1rem;">Показать ещё</button>
    </div>
    <div class="parameter">
        <h4 style="margin-bottom: 1rem;">Parameter title</h4>
        <div class="value">
            {# TODO make range control #}
            <label for="price">
                <input type="number" name="min-price" placeholder="min-price" id="price">
                <input type="number" name="max-price" placeholder="max-price">
            </label>
        </div>
    </div>
</aside>
{% endblock %}