{% extends 'user_side/base.html' %}

{% block content %}
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
{% endblock %}

{% block scripts %}{% endblock %}