{% extends 'user_side/base.html' %}
{% load static %}
{% block navbar_title %}EasyCompare{% endblock %}
{% block navbar_buttons %}
    <a href="#" class=""><img src="{% static 'user_side/img/profile_menuBtn.svg' %}" alt=""></a>
    <input type="checkbox" id="form-btn" style="display: none">
    <label for="form-btn"><span></span></label>
{% endblock %}

{% block content %}
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
    <h1>Типа текст</h1>
{% endblock %}

{% block scripts %}{% endblock %}