{% extends 'user_side/base.html' %}
{% load static %}

{% block optional_links %}
    <link rel="stylesheet" href="{% static 'user_side/css/product.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <img src="{% static 'user_side/img/Frame 16.png' %}" alt="" class="product-image">
        <div class="description">
            <h4 class="manufacturer">manufacturer</h4>
            <h3 class="product-name">product-name</h3>
            <h4 class="price">price</h4>
        </div>
    </div>
{% endblock %}