{#{% extends 'user_side/products.html' %}#}
{% extends 'user_side/base.html' %}
{% load static %}
{% block optional_links %}
    <link rel="stylesheet" href="{% static 'user_side/css/product.css' %}">
{% endblock %}

{% block product_list %}
    <div class="container">
        <img src="{% static 'user_side/img/Frame 16.png' %}" alt="" class="product-image">
        <div class="description">
            <h5 class="manufacturer">manufacturer</h5>
            <h4 class="product-name">product-name</h4>
            <h5 class="price">price</h5>
        </div>
    </div>
{% endblock %}