<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="filter-style.css">
    <link rel="stylesheet" href="libs/nouislider.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>

    <div class="background">
        <div class="panel-content">
                <div class="name-panel-div">
                    <label>
                        <input type="checkbox" class="deploy-btn">
                    </label>
                    <h2 class="name-panel-h">Панель фильтров</h2>
                </div>
            <div class="con">
                <ul class="parameter-list">
                    <li>
                    <h3 class="parameter-name">Название параметра 1</h3>
                    <ul class="parameter-value-list">
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                    </ul>
                </li>
                    <li>
                    <h3 class="parameter-name">Название параметра 2</h3>
                    <ul class="parameter-value-list">
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                    </ul>
                </li>
                    <li>
                    <h3 class="parameter-name">Название параметра 3</h3>
                    <ul class="parameter-value-list">
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                        <li class="parameter-value"><label><input type="checkbox" class="parameter-value">Параметр</label></li>
                    </ul>
                </li>
                    <li>
                        <h3 class="parameter-name">Плавающий параметр</h3>
                        <div class="filter-range-slider" id="range-slider"></div>
                        <div class="float-parameter-inputs">
                            <label class="float-parameter-label">
                                <span class="float-parameter-text">от</span>
                                <input type="number" min="1" max="999999" placeholder="1" class="float-parameter-input" id="input-1">
                            </label>
                            <label class="float-parameter-label">
                                <span class="float-parameter-text">до</span>
                                <input type="number" min="1" max="999999" placeholder="999999" class="float-parameter-input" id="input-2">
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="filter-panel-script.js"></script>
    <script src="libs/nouislider.min.js"></script>


</body>
</html>