.product-list{
  width: 100%;
  display: grid;
  grid-template-columns : repeat(4,2fr);
  grid-row-gap: 5%;
  column-gap : 1%;
}

.product {
  background-color: #f1f1f1;
  width: 240px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}

.product-container {
  margin: 10px 10px 0 10px;
  padding: 0;
  flex: 1;
}

.product-img-file {
  border-radius: 10px;
  width: 220px;
  height: 220px;
}

.product-name {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}

.product-description-atributes-list {
  margin: 20px 5px;
}

.product-description-atribute {
  display: flex;
  justify-content: space-between;
}

.product-description-atribute-item {
  font-size: 12px;
  font-weight: 500;
  color: #555;
  margin: 0 3px ;
  padding: 0;
}

.product-btn {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 10px 10px 10px;
}

.detales {
  padding: 5px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  background-color: #d4d4d4;
  text-decoration: none;
  color: #000;
}

.add-to-cart {
  outline: none;
}

.add-to-compare {
  outline: none;
}
