@import "mixinsVariables"

aside
  .selected-filters
    width: 100%
    background-color: #fff
    color: #A5A5A5
    @include font(.9rem, 500)

#characteristics
  @include flex(flex-start, flex-start, column, nowrap)

.characteristic
  @include flex(flex-start, flex-start, column, nowrap)
  width: 100%

  ul
    margin: .5rem 0
    @include flex(center, flex-start, column, nowrap)
    padding: 0
    li
      margin: .2rem
      padding: 0
      @include font(1rem, 400)
      color: #B0B0B0
      &[data-selected = "true"]
        color: #000
        margin-left: 1.5rem
        font-weight: 600

      &[data-selected = "false"]
        color: #B0B0B0

  .value
    width: 100%
    margin: .5rem 0
    @include flex(space-between, flex-start, row, nowrap)

  label
    @include flex(space-between, flex-start, row, nowrap)
    width: 70%
    margin: 0 auto

input[type=number]
  border: none
  outline: none
  height: 1rem
  width: 4rem
  text-align: center
  border-bottom: .0625rem solid #B0B0B0

#slider-round
  width: 80%
  height: .25rem
  margin: 0 auto .75rem auto

#slider-round .noUi-connect
  background: #000000

#slider-round .noUi-handle
  height: .75rem
  width: .75rem
  top: -.3rem
  right: -.5rem
  border-radius: 50%
  border: none
  box-shadow: none
  background-color: #000000
  &:before, &:after
    display: none