@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
aside .selected-filters {
  width: 100%;
  background-color: #fff;
  color: #A5A5A5;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
}

#characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.characteristic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.characteristic ul {
  margin: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
}

.characteristic ul li {
  margin: .2rem;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #B0B0B0;
}

.characteristic ul li[data-selected="true"] {
  color: #000;
  margin-left: 1.5rem;
  font-weight: 600;
}

.characteristic ul li[data-selected="false"] {
  color: #B0B0B0;
}

.characteristic .value {
  width: 100%;
  margin: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.characteristic label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 70%;
  margin: 0 auto;
}

input[type=number] {
  border: none;
  outline: none;
  height: 1rem;
  width: 4rem;
  text-align: center;
  border-bottom: .0625rem solid #B0B0B0;
}

#slider-round {
  width: 80%;
  height: .25rem;
  margin: 0 auto .75rem auto;
}

#slider-round .noUi-connect {
  background: #000000;
}

#slider-round .noUi-handle {
  height: .75rem;
  width: .75rem;
  top: -.3rem;
  right: -.5rem;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #000000;
}

#slider-round .noUi-handle:before, #slider-round .noUi-handle:after {
  display: none;
}
/*# sourceMappingURL=filter.css.map */