@import "mixinsVariables"

main
  @include flex(space-around, flex-start, row, nowrap)

  #products
    width: $main-width - $aside-width
    margin-left: 2rem
    @include flex(flex-start, flex-start, row, wrap)

    .container
      @include flex(space-between, flex-start, column, nowrap)
      width: 18rem
      height: 21rem

      .product-image
        width: 15.625rem
        height: 15.625rem

        border-radius: 1.25rem

      .description
        margin-left: .75rem

        .price
          font-weight: 400
