@import "mixinsVariables"
#product-detail
  width: 100%
  margin: 0 auto

  h1
    margin: 0 0 3rem 5rem

  .container
    @include flex(space-between, flex-start, row, nowrap)

    div

      .btns
        margin-top: 1rem
        width: 100%

        @include flex(flex-start, flex-start, row, nowrap)
        button
          margin: .25rem
          width: 15rem
          height: 2.5rem
          border-radius: .1rem
          font-size: .75rem
          background: #0D73C6
          color: #fff

    img
      width: 35rem
      height: 35rem
      object-fit: cover
      border-radius: 2rem

    ul
      width: 100%
      padding: 2rem
      margin: 0
      border-radius: .2rem
      background-color: #F5F5F5

      li
        display: flex
        justify-content: space-between
        width: 100%

        &:last-child
          padding: 0