{% extends 'ec_admin/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <fieldset>
                    <legend>Фасеты</legend>
                    <div class="form-group mb-2">
                        <label for="product-type">По какому типу искать:</label>
                        <select id="product-type" class="form-select">
                            <option value="no-type">Не выбран тип</option>
                            {% for type in types %}
                            <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <ul id="filter-groups"> 
                        {% csrf_token %} 
                        <fieldset>      
                            <legend>What is Your Favorite Pet?</legend>      
                            <input type="checkbox" name="favorite_pet" value="Cats">Cats<br>      
                            <input type="checkbox" name="favorite_pet" value="Dogs">Dogs<br>      
                            <input type="checkbox" name="favorite_pet" value="Birds">Birds<br>      
                            <br>      
                            <input type="submit" value="Submit now" />      
                        </fieldset>      
                    </ul>
                    <button type="button" id="submit-filters" class="btn btn-primary col-12">Найти</button>
                </fieldset>
            </form>
        </div>
      <div id="found-products" class="col-sm">
      </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="module" src="{% static 'ec_admin/js/facets.js' %}"></script>
{% endblock %}