{% extends 'ec_admin/base.html' %}
{% load static %}


{% block content %}
<form>
    <fieldset>
        <legend>Добавить тип товара</legend>
        <div class="form-group">
            <label for="type-name">Название типа:</label>
            <input type="text" id="type-name" class="form-control">
        </div>
        <div class="form-group mb-2">
            <label for="type-section">Раздел:</label>
            <select id="type-section" class="form-select">
                <option value="">--Выберите раздел для типа--</option>
            </select>
        </div>
        <button type="button" id="submit-type" class="btn btn-primary col-12">Сохранить тип</button>
    </fieldset>
</form>
<hr>
<h1>Характеристики типа</h1>
<ul class="list-group" id="attributes-list">
</ul>
<hr>
<fieldset>
    <legend>Добавить характеристику</legend>
    <div class="form-group">
        <label for="new-attribute-name">Название характеристики:</label>
        <input type="text" id="new-attribute-name" class="form-control">
    </div>
    <div class="form-group mb-2">
        <label for="new-attribute-type">Тип значения характеристики:</label>
        <select id="new-attribute-type" class="form-select">
            <option value="">--Выберите тип значения--</option>
            <option value="Число">Число</option>
            <option value="Текст">Текст</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary col-12" id="add-attribute-btn">Добавить</button>
</fieldset>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'ec_admin/js/productTypeAttributeList.js' %}"></script>
<script type="text/javascript" src="{% static 'ec_admin/js/submitProductType.js' %}"></script>
{% endblock %}