{% extends 'ec_admin/base.html' %}
{% load static %}


{% block content %}
<form>
    <fieldset>
        <legend>Добавить раздел</legend>
        <div class="form-group">
            <label for="parent-section-name">Название раздела:</label>
            <input type="text" id="parent-section-name" class="form-control">
        </div>
        <div class="form-group mb-2">
            <label for="parent-section">Родительский раздел:</label>
            <select id="parent-section" class="form-select">
                <option value="no-parent-section">Без родителя</option>
            </select>
        </div>
        <button type="button" id="submit-section" class="btn btn-primary col-12">Сохранить раздел</button>
    </fieldset>
</form>
{% endblock %}

{% block script %}
<script type="module" src="{% static 'ec_admin/js/submitSection.js' %}"></script>
{% endblock %}