@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

$padding: calc(.5 * calc(1vw + 1rem))
$fontSize: calc(2rem + 2vw)
$margin: 1em
$transition: .5s ease

*
  box-sizing: border-box
  font-family: 'Inter', sans-serif

button
  border: 0
  background-color: inherit
  cursor: pointer

input
  border: 0
  outline: none

h1, h2, h3, h4, h5, h6
  margin: 0

.popup__background.open
  z-index: 10000
  opacity: 1
  visibility: visible
  .popup__container
    margin-top: 0

.popup__background
  z-index: 0
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  background-color: rgba(0,0,0,.8);
  padding: 3rem
  opacity: 0
  visibility: hidden
  transition: $transition

  .popup__container
    font-size: $fontSize
    position: relative
    padding: 2vw
    background-color: #fff
    max-width: calc(50% + 5em)
    width: 100%
    margin-top: 10%
    transition: $transition
    .popup__container_inner
      position: relative
      .product-type-name
        max-width: 70%
        font-weight: 500
      .close-btn
        position: absolute
        right: 0
        top: 0
        background-color: inherit
        border: 0
        cursor: pointer
        padding: 0
        img
          height: calc(2em + 1vh)
          width: calc(2em + 1vw)

      .popup-edit-buttons__container
        display: flex
        align-items: center
        button
          font-size: .35em
          color: #A5A5A5
        .save-btn:disabled
          color: #A5A5A5
          background-color: #F5F5F5
        .save-btn
          background-color: #E5E5E5
          color: #000
          padding: $padding
        .add-filter-btn
          margin-left: 2em
          max-width: min-content

      .filter__container.open
        opacity: 1
        visibility: visible
        margin: $margin 0
        height: 100%

      .filter__container
        font-size: .5em
        position: relative
        opacity: 0
        visibility: hidden
        height: 50%
        transition: $transition
        .close-btn
          img
            width: 1.5em
            height: 1.5em

        .filter-name
          border-bottom: 1px solid #A5A5A5
          max-width: 55%
          width: 100%
          font-size: .7em

        .filter__settings
          margin: $margin 0
          background-color: #F5F5F5
          padding: $padding
          h2
            font-size: .8em
          h3
            font-size: .6em
            margin-bottom: $margin
          .filter-value-type__container
            margin: $margin 0
            .filter-value-type
              margin-top: 1em
              display: flex
              align-items: center
              font-size: .5em
              font-weight: 500
              
              .radio-input
                appearance: none
                position: absolute
              .radio-label
                padding-left: 2em
                position: relative
              .radio-label::before
                content: ''
                display: block
                position: absolute
                left: 0
                top: 50%
                transform: translate(0, -50%)
                width: 1em
                height: 1em
                border-radius: 50%
                background-color: #000
              .radio-label::after
                content: ''
                display: block
                position: absolute
                left: 0
                top: 50%
                transform: translate(.15em, -50%)
                width: .7em
                height: .7em
                border-radius: 50%
                background-color: #fff
              .radio-input:checked + .radio-label::after
                transform: translate(.275em, -50%)
                width: .45em
                height: .45em

          .filter-value__container
            .filter-value
              font-size: .6em
              border-bottom: 1px solid #A5A5A5
              background-color: inherit
              max-width: 40%
              width: 100%

@keyframes openFilter
  0% 
    transfrom: scale(.5)
  50%
    background-color: red
  100%
    transform: scale(1)

@media screen and (min-width: 1024px)
  .product-type-name
    font-size: 1em

@media screen and (max-width: 1024px)
  .product-type-name
    font-size: .8em

@media screen and (max-width: 768px)
  .product-type-name
    font-size: .5em