@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }
  * ul {
    list-style: none; }
  * button {
    background-color: inherit;
    cursor: pointer; }

body {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-bottom: 5vw; }

body::-webkit-scrollbar {
  width: 0; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem; }
  header .header__inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid #000; }
    header .header__inner .header__logo {
      font-weight: 700; }
    header .header__inner .header__nav ul {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap; }
      header .header__inner .header__nav ul .nav__button {
        margin-left: 5vw;
        cursor: pointer;
        height: 2em;
        width: 2em; }

.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0.7rem 1rem;
  margin-top: 6rem; }

.product__container .product__container_title {
  position: relative;
  font-size: calc(.5 * 7rem);
  font-weight: 600; }
  .product__container .product__container_title h2 {
    font-size: inherit; }
  .product__container .product__container_title::before, .product__container .product__container_title .add-new-type-btn {
    position: absolute;
    font-size: 0.3em;
    font-weight: 500;
    color: #A5A5A5;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease; }
  .product__container .product__container_title::before {
    content: "Режим редактирования";
    top: 120%;
    left: -10%; }
  .product__container .product__container_title .add-new-type-btn {
    right: 0;
    top: -20%;
    max-width: 100px; }
.product__container .product__container_title.edit::before, .product__container .product__container_title.edit .add-new-type-btn {
  opacity: 1;
  visibility: visible; }
.product__container .product__container_title.edit::before {
  left: 0; }
.product__container .product__container_title.edit .add-new-type-btn {
  top: 0; }
.product__container .product__container_nav {
  display: grid; }
  .product__container .product__container_nav .nav__inner_container {
    margin-top: 0.5rem; }
  .product__container .product__container_nav .nav__element_container {
    font-weight: 700;
    cursor: pointer;
    margin-top: 0.5rem; }
    .product__container .product__container_nav .nav__element_container:first-child {
      margin-top: 0; }
    .product__container .product__container_nav .nav__element_container .nav__element {
      position: relative;
      max-width: 10rem;
      transition: 0.5s ease; }
      .product__container .product__container_nav .nav__element_container .nav__element::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 1.5rem;
        height: 0.2rem;
        background-color: #000;
        opacity: 0;
        visibility: hidden; }
      .product__container .product__container_nav .nav__element_container .nav__element .sub-menu {
        position: absolute;
        left: 20rem;
        top: 0;
        opacity: 0;
        transition: 0.5s ease;
        font-size: 0.9em;
        font-weight: 500; }
      .product__container .product__container_nav .nav__element_container .nav__element .sub-menu.active {
        left: calc(15rem + 10vw);
        opacity: 1;
        z-index: 10; }
  .product__container .product__container_nav .nav__element_container.active .nav__element {
    padding-left: 2.5rem; }
    .product__container .product__container_nav .nav__element_container.active .nav__element::before {
      opacity: 1;
      visibility: visible;
      animation: expandBefore 0.5s ease; }
.product__container .product__container_nav.active {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap; }
.product__container .edit_btn_container {
  display: flex;
  justify-content: flex-end; }
  .product__container .edit_btn_container .edit_btn_container_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .product__container .edit_btn_container .edit_btn_container_inner .edit-btn {
      background-color: #E5E5E5;
      padding: 0.5rem 1rem;
      cursor: pointer;
      margin-top: 7vh; }
    .product__container .edit_btn_container .edit_btn_container_inner .delete-section-btn {
      display: none;
      margin-top: 2vh;
      color: red; }

@keyframes expandBefore {
  0% {
    width: 0; }
  100% {
    width: 1.5rem; } }
@media screen and (min-width: 1441px) {
  .product__container_nav {
    margin-top: 4rem;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr); }
    .product__container_nav .nav__element_container {
      font-size: calc(.5 * 2.5vw); } }
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .product__container_nav {
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr); }
    .product__container_nav .nav__element_container {
      font-size: calc(.5 * 3vw); } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .product__container_nav {
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr); }
    .product__container_nav .nav__element_container {
      font-size: calc(.5 * 3.5vw); } }
@media screen and (min-width: 426px) and (max-width: 768px) {
  .product__container_nav {
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr); }
    .product__container_nav .nav__element_container {
      font-size: calc(.5 * 4.5vw); } }
@media screen and (max-width: 426px) {
  .product__container_nav {
    margin-top: 3rem;
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr; }
    .product__container_nav .nav__element_container {
      font-size: calc(.5 * 6vw); }
      .product__container_nav .nav__element_container .sub-menu.active {
        left: 15rem; } }

/*# sourceMappingURL=user_admin.css.map */
