@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ul {
  list-style: none;
}

* button {
  background-color: inherit;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
}

header .header__inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: .7rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 1px solid #000;
}

header .header__inner .header__logo {
  font-weight: 700;
}

header .header__inner .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .header__inner .header__nav ul .nav__button {
  margin-left: 5vw;
  cursor: pointer;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: .7rem 1rem;
  margin-top: 6rem;
}

.product__container .product__container_title {
  position: relative;
  font-size: calc(.5 * 7rem);
  font-weight: 600;
}

.product__container .product__container_title h2 {
  font-size: inherit;
}

.product__container .product__container_title::before, .product__container .product__container_title .add-new-type-btn {
  position: absolute;
  font-size: .3em;
  font-weight: 500;
  color: #A5A5A5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.product__container .product__container_title::before {
  content: 'Режим редактирования';
  top: 120%;
  left: -10%;
}

.product__container .product__container_title .add-new-type-btn {
  right: 0;
  top: -20%;
  max-width: 100px;
}

.product__container .product__container_title.edit::before, .product__container .product__container_title.edit .add-new-type-btn {
  opacity: 1;
  visibility: visible;
}

.product__container .product__container_title.edit::before {
  left: 0;
}

.product__container .product__container_title.edit .add-new-type-btn {
  top: 0;
}

.product__container .product__container_nav {
  display: -ms-grid;
  display: grid;
}

.product__container .product__container_nav .nav__inner_container {
  margin-top: .5rem;
}

.product__container .product__container_nav .nav__element_container {
  font-weight: 700;
  cursor: pointer;
  margin-top: .5rem;
}

.product__container .product__container_nav .nav__element_container:first-child {
  margin-top: 0;
}

.product__container .product__container_nav .nav__element_container .nav__element {
  position: relative;
  max-width: 10rem;
  -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.product__container .product__container_nav .nav__element_container .nav__element::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1.5rem;
  height: .2rem;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
}

.product__container .product__container_nav .nav__element_container .nav__element .sub-menu {
  position: absolute;
  left: 20rem;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: .9em;
  font-weight: 500;
}

.product__container .product__container_nav .nav__element_container .nav__element .sub-menu.active {
  left: calc(15rem + 10vw);
  opacity: 1;
  z-index: 1000;
}

.product__container .product__container_nav .nav__element_container.active .nav__element {
  padding-left: 2.5rem;
}

.product__container .product__container_nav .nav__element_container.active .nav__element::before {
  opacity: 1;
  visibility: visible;
  -webkit-animation: expandBefore 0.5s cubic-bezier(0.23, 1, 0.32, 1);
          animation: expandBefore 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.product__container .product__container_nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.product__container .edit_btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product__container .edit_btn_container .edit-btn {
  background-color: #E5E5E5;
  padding: .5rem 1rem;
  cursor: pointer;
  margin-top: 7vh;
}

.popup__container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.popup__container .popup__container_inner {
  background-color: #fff;
  padding: 2rem;
  position: relative;
  margin-top: 50%;
  -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.popup__container .popup__container_inner #type-name {
  font-size: 2.5rem;
  font-weight: 600;
  outline: none;
}

.popup__container .popup__container_inner #type-name::-webkit-input-placeholder {
  color: #A5A5A5;
}

.popup__container .popup__container_inner #type-name:-ms-input-placeholder {
  color: #A5A5A5;
}

.popup__container .popup__container_inner #type-name::-ms-input-placeholder {
  color: #A5A5A5;
}

.popup__container .popup__container_inner #type-name::placeholder {
  color: #A5A5A5;
}

.popup__container .popup__container_inner .close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.popup__container .popup__container_inner .popup__container_inner-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__container .popup__container_inner .popup__container_inner-btns .save-btn {
  background-color: #E5E5E5;
  padding: .5rem 1rem;
  cursor: pointer;
}

.popup__container .popup__container_inner .popup__container_inner-btns .add-filter-btn {
  font-size: 1rem;
  font-weight: 500;
  color: #A5A5A5;
  margin-left: 1rem;
}

.popup__container.open {
  opacity: 1;
  visibility: visible;
}

.popup__container.open .popup__container_inner {
  margin-top: 0;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@-webkit-keyframes expandBefore {
  0% {
    width: 0;
  }
  100% {
    width: 1.5rem;
  }
}

@keyframes expandBefore {
  0% {
    width: 0;
  }
  100% {
    width: 1.5rem;
  }
}

@media screen and (min-width: 1441px) {
  .product__container_nav {
    margin-top: 4rem;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
  }
  .product__container_nav .nav__element_container {
    font-size: calc(.5 * 2.5vw);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .product__container_nav {
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr);
  }
  .product__container_nav .nav__element_container {
    font-size: calc(.5 * 3vw);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .product__container_nav {
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr);
  }
  .product__container_nav .nav__element_container {
    font-size: calc(.5 * 3.5vw);
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .product__container_nav {
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
  }
  .product__container_nav .nav__element_container {
    font-size: calc(.5 * 4.5vw);
  }
}

@media screen and (max-width: 425px) {
  .product__container_nav {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-top: 3rem;
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
  }
  .product__container_nav .nav__element_container {
    font-size: calc(.5 * 6vw);
  }
  .product__container_nav .nav__element_container .sub-menu.active {
    left: 15rem;
  }
}
/*# sourceMappingURL=user_admin.css.map */